<!DOCTYPE html>
<html>
<head>
    <title>Fleet Manager - Home</title>
</head>
<body>
<h1>My Fleet Inventory</h1>

<a href="/add_truck"><button>+ Add New Vehicle</button></a>
<br><br>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Model</th>
        <th>Daily Rate</th>
        <th>Status</th>
    </tr>

    {% for truck in trucks %}
    <tr>
        <td>{{ truck['id'] }}</td>
        <td>{{ truck['model'] }}</td>
        <td>${{ "%.2f"|format(truck['daily_rate']) }}</td>
        <td>{{ truck['status'] }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4">No trucks found. Add one to get started!</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>